<a href="https://colab.research.google.com/github/sbccas/data-analytics-using-python/blob/main/notebooks/Unit1_Fundamentals_of_Data_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# TYBCA ‚Äì Course 602: Data Analytics Using Python

## üß© UNIT 1 ‚Äì FUNDAMENTALS OF DATA ANALYTICS

üë®‚Äçüè´ Prepared by: Hitesh Patel  
üè´ Institution: Sutex Bank College of Computer Applications and Science  
üìö Academic Year: 2025‚Äì26  

---

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](
https://colab.research.google.com/github/sbccas/data-analytics-python/blob/main/notebooks/Unit1_Fundamentals_of_Data_Analytics.ipynb)

---

# üß† 1. Introduction to Data Analytics
### What is Data Analytics?
Data Analytics involves collecting, cleaning, transforming, and analyzing data to extract useful insights for decision-making.

**It answers questions like:**

* What is happening in the data?
* Why is it happening?
* What patterns and trends exist?
* What decisions can be made based on these insights?

**In this unit, you will learn:**
- Exploratory Data Analysis (EDA)
- Handling missing data & outliers
- Data distribution, skewness, and kurtosis
- Practical EDA using Pandas and Matplotlib

# üíª 2. Load and View Dataset

In [ ]:
# Import essential libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
from pathlib import Path
# # Load dataset (you can upload a CSV file to Colab)
# from google.colab import files
# uploaded = files.upload()

# # Use below code if you want to use kagglehub to fetch datasets from Kaggle
# !pip install kagglehub
# import kagglehub
# # Download latest version
# path = kagglehub.dataset_download("sadiajavedd/students-academic-performance-dataset")
# print("Path to dataset files:", path)

# Use this to upload files if you are working on local machine
# import tkinter as tk
# from tkinter import filedialog
# root = tk.Tk()
# root.withdraw()
# file_path = filedialog.askopenfilename()  
# df = pd.read_csv(file_path)

# Load dataset from local path
data_path = Path(r"F:\SBCCAS_DRIVE\My Drive\Master Drive\STUDENT MATERIAL\BCA\Sem_6\602_Data_Analytics_using_Python\data-analytics-using-python\2_Lecture_Notes\datasets\StudentsPerformance.csv")
df = pd.read_csv(data_path)
print(df.head())
print("Dataset Shape:", df.shape)
df.tail()
# # Use pandas to read the uploaded CSV file
# df = pd.read_csv(next(iter(uploaded)))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard

  test preparation course  math score  reading score  writing score
0                    none          72             72             74
1               completed          69             90             88
2                    none          90             95             93
3                    none          47             57             44
4                    none          76             78             75
Dataset Shape: (1000, 8)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

# üìä 3. Understanding the Dataset

In [ ]:
# Overview of data
print(df.info())
print("\nSummary Statistics:")
print(df.describe())

# Data types and null values
print("\nMissing Values per Column:")
print(df.isnull().sum())

# üîπ 4. Univariate Analysis

In [ ]:
# Histogram for numeric column
numeric_col = df.select_dtypes(include=np.number).columns[0]
plt.hist(df[numeric_col], bins=10, color='skyblue', edgecolor='black')
plt.title(f'Univariate Analysis of {numeric_col}')
plt.xlabel(numeric_col)
plt.ylabel('Frequency')
plt.show()

# üî∏ 5. Bivariate Analysis

In [ ]:
# Example: Correlation between two numeric columns
if len(df.select_dtypes(include=np.number).columns) >= 2:
    x = df.select_dtypes(include=np.number).columns[0]
    y = df.select_dtypes(include=np.number).columns[1]
    sns.scatterplot(x=df[x], y=df[y])
    plt.title(f'Bivariate Analysis: {x} vs {y}')
    plt.show()

# üîπ 6. Handling Missing Data

In [ ]:
# Replace missing numeric values with column mean
df.fillna(df.mean(), inplace=True)
print("Missing values handled successfully!")

# üîπ 7. Handling Outliers

In [ ]:
# Boxplot to detect outliers
col = df.select_dtypes(include=np.number).columns[0]
sns.boxplot(df[col])
plt.title(f'Outlier Detection for {col}')
plt.show()

# Remove outliers using IQR method
Q1 = df[col].quantile(0.25)
Q3 = df[col].quantile(0.75)
IQR = Q3 - Q1
filtered_df = df[(df[col] >= Q1 - 1.5*IQR) & (df[col] <= Q3 + 1.5*IQR)]
print(f"Shape before: {df.shape}, Shape after: {filtered_df.shape}")

# üìà 8. Spread of Data: Normal vs Skewed

In [ ]:
# Check distribution
sns.histplot(filtered_df[col], kde=True)
plt.title('Distribution Curve')
plt.show()

# Skewness & Kurtosis
print("Skewness:", filtered_df[col].skew())
print("Kurtosis:", filtered_df[col].kurt())